<div class="card">
	<div class="card-header">Meus Serviços</div>
	<div class="card-body card-block">

		<form method="POST" id="services-form"
				action="/update-my-services">
				
			<div class="container">
				<% if(services.length > 0) { %>
				<div class="form-check">						
					<% for(let service of services) { %>
					<div class="row">
						<div class="col-2">
							<input type="checkbox" class="form-check-input" name="<%=service.id%>"
								<%=isChecked(service.id)%>>
						</div>
						<div class="col">
							<label class="form-check-label" for="defaultCheck1">
								<%=service.name%>
							</label>    
						</div>                        
					</div>
					<% } %>

				</div> 
				<% } else { %>
				<div class="alert alert-info">
					<strong>Aviso!</strong>O usuário ainda não cadastrou nenhum serviço
				</div>
				<% } %>                   
			</div> 
	
			<hr>

			<div class="form-group">
					<button type="button" onclick="Employee.updateServices()" 
						class="btn btn-primary">Enviar</button>
			</div>              

		</form>
			
	</div>
</div> 