<div class="content mt-3">

  <div class="alert alert-warning">
      <strong>Oops!</strong> Algo deu errado :-(
  </div>
  <div class="alert alert-danger">
      <strong><%=error%>!</strong>
  </div>

</div> <!-- .content -->
