<footer class="footer-container white-text-container">
  <div class="container">
    <div class="row">

     
      <div class="col-xs-12">
        <br>
        <p>
          <a href="/">
          <img src="core/assets/images/logo-combinado.svg" class="navbar-logo-img" alt="logo">
          </a>
        </p>

        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <p><small>Sistema de agendamento on-line criado por <a href="https://w3software.net.br/">W3_Software</a>. Design:  <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small>
            </p>
          </div>
          <div class="col-xs-12 col-sm-5">
            <p class="text-right">
              <a href="https://www.facebook.com/w3SoftwareNetBr" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <!--
              <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              -->
            </p>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</footer>