<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./include/head-links.ejs')%>

  <link href="" rel="stylesheet">


  <title>Combinado</title>

<link href="core/main.550dcf66.css" rel="stylesheet"></head>

<body> <!-- Add your content of header -->
<header>
  <%-include('./include/nav-bar.ejs')%>
</header>

<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a href="/">
          <img src="core/assets/images/logo-combinado.svg" 
            class="navbar-logo-img" alt="logo">
          </a>
          <br>
          <p><i>Sistema de Agendamento Online</i></p>          
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="text-center">
            <h2>Bem-Vindo!</h2>
            <p>Esse sistema foi feito para qualquer tipo de negócio que tenha necessidade de agendar visitas 
            como, por exemplo, uma clínica.
          </div>
       </div>
      </div>
    </div>
  </div>
  <!--
  <div class="section-container">
    <div class="container">
      <div class="row">      
          <div class="col-xs-12">


            <div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
                
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img class="img-responsive" src="core//assets/images/img-06.jpg" alt="First slide">
                        <div class="carousel-caption card-shadow reveal">
                          
                          <h3>Moon</h3>
                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                          </a>
                          <p>
                            Sed id tellus in risus pre
                            tium imperdiet eu lobortis dolor. Sed pellentesque, urna ac viverra lacinia, erat mauris venenatis purus, mollis egestas urna purus ac ex.
                            Aenean nunc sem, lobortis at elit non, lobortis laoreet nibh. Maecenas at mi ipsum.
                          </p>
                          
                          <p>
                            Quisque tempor, ligula pharetra luctus elementum, arcu nisl suscipit ante, pharetra commodo dui est et enim. Sed eu vestibulum elit. Donec ut libero non.
                          </p>
                          <a href="./project.html" class="btn btn-primary" title="">
                            Discover
                          </a>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="core/assets/images/img-07.jpg" alt="First slide">
                        <div class="carousel-caption card-shadow reveal">

                          <h3>Lbortis</h3>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                              <i class="fa fa-chevron-left" aria-hidden="true"></i>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                              <i class="fa fa-chevron-right" aria-hidden="true"></i>
                              <span class="sr-only">Next</span>
                            </a>
                          <p>
                            Pre id tellus in risus pre
                            tium imperdiet eu lobortis dolor. Sed pellentesque, urna ac viverra lacinia, erat mauris venenatis purus, mollis egestas urna purus ac ex.
                            Aenean nunc sem, lobortis at elit non, lobortis laoreet nibh. Maecenas at mi ipsum.
                          </p>
                          
                          <p>
                            Quisque tempor, ligula pharetra luctus elementum, arcu nisl suscipit ante, pharetra commodo dui est et enim. Sed eu vestibulum elit. Donec ut libero non.
                          </p>
                          <a href="./project.html" class="btn btn-primary" title="">
                            Discover
                          </a>
                        </div>
                    </div>
                </div>
               
            </div>

           
          </div>
          
        </div>  
      
    </div>
  </div>
  -->

  <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2>Como Utilizar</h2>
          
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <h3>Crie Uma Conta</h3>
          <p>Você só precisa clicar no botão Criar Conta e preencher um formulário.</p>          
        </div>
       
        <div class="col-xs-12 col-md-4">
          <h3>Cadastre Serviços</h3>
          <p>Depois, é só cadastrar os serviços que sua empresa oferece.</p>          
        </div>
        <div class="col-xs-12 col-md-4">          
          <h3>Cadastre Colobaradores</h3>
          <p>Em seguida, você já pode cadastrar seus colaboradores.</p>
          
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2 class="text-center">Compartilhe Seu Link</h2>
          <p>O sistema vai gerar um link que você poderá compartilhar nas suas redes sociais 
          ou colocar no botão agendar do seu site. Quando seu cliente clicar no link ou no 
          botão agendar, ele será redirecionado para o nosso webapp. Aqui, o cliente 
          poderá escolher um dentre seus colaboradores e ver todos os seus horários disponíveis.</p>
        </div>  
      </div>
      <!--
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <img src="core/assets/images/logo-01.png" alt="" class="img-responsive reveal-content image-center">

        </div>
       
        <div class="col-xs-12 col-md-4">
          <img src="core/assets/images/logo-02.png" alt="" class="img-responsive reveal-content image-center">
        </div>
        <div class="col-xs-12 col-md-4">
          <img src="core/assets/images/logo-03.png" alt="" class="img-responsive reveal-content image-center">
        </div>
      </div>
      -->
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="text-center">
            <h2>Forma de Pagamento</h2>
            <p>Você tem 30 dias para testar o sistema totalmente de graça. Depois, você receberá, no 
            seu painel de controle, uma requisição de pagamento. O pagmento implica na continuação 
            da sua conta. E o não pagamento indica que você não irá continuar usando nosso sistema.
            <p>O valor varia de acordo com o número de colaboradores cadastrados. Até 5 colaboradores, 
            <strong>R$8,90</strong> mensais. De 6 a 10 colaboradores, <strong>R$13,00</strong>. E para 
            mais de 10 colaboradores, <strong>R$18,90</strong> mensais</p> 
            <p>A <a href="https://w3software.net.br/">W3_Software</a> não guarda suas informações financeiras nem seu CPF. 
            Todo o processo é feito via 
            <img src="core/assets/images/pagseguro-logo.jpg" style="width: 100px">.</p>
          </div>
       </div>
      </div>
    </div>
  </div>
 
 
  <%-include('./include/contact-container.ejs')%>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>

<%-include('./include/footer.ejs')%>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
    scrollRevelation('.reveal');
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="core/main.0cf8b554.js"></script></body>

</html>