<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Agendamentos</strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Email do Cliente</th>
                </tr>
              </thead>
              <tbody>
                <% for(let scheduling of schedulings) {  %>
                <tr>
                  <td>
                    <a href="/user-show-scheduling?schedulingId=<%=scheduling.id%>">
                      <% if(isFuture(scheduling._datetime)) { %>
                      <div class="alert alert-primary" style="text-align: center">
                        <%=portugueseDateTime(scheduling._datetime)%>
                      </div>
                      <% } else { %>
                      <div class="alert alert-secondary" style="text-align: center">
                        <%=portugueseDateTime(scheduling._datetime)%>
                      </div>
                      <% } %>
                    </a>
                  </td>
                  <td>
                    <a href="#"><%=scheduling.clientEmail%></a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .animated -->

</div> <!-- .content -->
