<div class="content mt-3">

  <div class="alert alert-warning">
      <strong>Sucesso</strong>
  </div>
  <div class="alert alert-success">
      <strong><%=msg%>!</strong>
  </div>

</div> <!-- .content -->
