<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>Gerar Link</h1>
      </div>
    </div>
  </div>
</div>

 <!-- The text field -->
<div class="alert" style="text-align: center">
  <p>Esse é o link compartilhável. Copie e cole esse código no seu site.
  Você também pode compartilhar nas suas redes sociais ou enviar
  por email</p>
  <br>
  <input type="text" readonly
  value="<%=link%>" id="myInput"
  style="text-align: center" class="form-control">
  <br>
  <!-- The button used to copy the text -->
  <button class="btn btn-primary"  onclick="User.copyLink()">Copiar</button>
</div>
