<div class="card">
	<div class="card-header">
		<strong>Novo Colaborador</strong>
	</div>
	<form action="/new-employee" 
		method="post" 
		class="form-horizontal" id="newEmployeeForm">

		<div class="card-body card-block">
			<div class="row form-group">
				<div class="col col-md-3">
					<label for="name" class=" form-control-label">Nome</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="text" name="name" placeholder="Nome" class="form-control"
						required>
					<span class="form-text text-muted">
					Digite o nome do novo colaborador</span>
				</div>
			</div>

			<div class="row form-group">
				<div class="col col-md-3">
					<label for="email" class=" form-control-label">Email</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="email" name="email" placeholder="Email" class="form-control"
						required>
					<span class="form-text text-muted">
					Digite o email do novo colaborador</span>
				</div>
			</div>
			<% if(services.length > 0 ) {  %>
			<div class="row form-group">
				<div class="col col-md-3">
					<label for="name" class=" form-control-label">Serviços</label>
				</div>
				<div class="col-12 col-md-9">
					<select name="service" class="form-control" multiple required>
						<% for(service of services) {%>
						<option value="<%=service.id%>">
							<%=service.name%>
						</option>
						<% } %>
					</select>
					<span class="form-text text-muted">
					Um colaborador pode prestar mais de um tipo de serviço</span>
				</div>
			</div>
			<% } %>

			<div class="row form-group">
				<div class="col col-md-3">
					<label for="pwd" class=" form-control-label">Senha</label>
				</div>
				<div class="col-12 col-md-9">
					<input type="password" name="pwd" placeholder="Senha" class="form-control"
						required>
					<span class="form-text text-muted">
					Essa senha será usado pelo colaborador para entrar no sistema.
					Mas ele pode mudá-la a qualquer momento</span>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<a href="#" onclick="saveNewEmployee()" class="btn btn-primary btn-sm">
				Salvar
			</a>
			<a type="reset" href="#" onclick="cancel()" class="btn btn-warning btn-sm">
				Cancelar
			</a>
		</div>

	</form>
</div>
