<button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fa fa-bell"></i>
  <span class="count bg-success"><%=numberOfSchedulingNotifications%></span>
</button>
<div class="dropdown-menu" aria-labelledby="notification" 
  style="overflow: scroll; max-height: 250px;">
  <p class="bg-info" style="color: #fff">Novos Agendamentos</p>
  <%for(schedulingNotification of schedulingNotifications) {%>
  <a class="dropdown-item media bg-flat-color-1" 
    href="/user-show-scheduling?schedulingId=<%=schedulingNotification.schedulingId%>">
    <i class="fa fa-calendar"></i>
    <p style="color: #000">
      <%=schedulingNotification._datetime.toLocaleString()%>
    </p>
  </a>
  <% } %>  

</div>