<div class="card">
  
  <div class="card-header">Detalhes do Serviço</div>
  
  <div class="card-body card-block">
    
    <input type="hidden" id="id" name="id" value="<%=service.id%>">
    
    <div class="row form-group">
      <div class="col col-md-3">
        <label for="test">Nome</label>
      </div>
      <div class="col-12 col-md-9">
        <input type="text" class="form-control" id="name"
        name="name"
          value="<%=service.name%>">
      </div>
    </div> 
  
  </div>

  <div class="card card-footer">
    <div class="btn-group">
      <button type="button" class="btn btn-warning" 
        onclick="Service.edit()">
        Editar</button>

      <button type="button" class="btn btn-danger" 
        onclick="">
        Deletar</button>
    </div> 
  </div>

</div> <!-- .content -->
