<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>Testar Link</h1>
      </div>
    </div>
  </div>

</div>
 <!-- The text field -->
<div class="alert" style="text-align: center">
    <p>Para testar seu link, click no botão abaixo</p>
    <br>
    <a class="btn btn-primary" href="<%=link%>" target="framename">Agendar</a>
</div>